<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.securityoauth2.service.PermissionService">

    <resultMap id="resourceMap" type="com.securityoauth2.entity.AuthResource">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="parentCode" column="parent_code"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
    </resultMap>

    <sql id="Base_Columns">
        id, code, parent_code, parent_id, `name`
    </sql>

    <select id="getRolePermission" resultMap="resourceMap">
        SELECT
        <include refid="Base_Columns"/>
        FROM auth_resource
        WHERE role_id= #{roleId}
    </select>

</mapper>