<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.securityoauth2.service.AuthRoleService">

    <resultMap id="roleMap" type="com.securityoauth2.entity.AuthRole">
        <id property="id" column="ID"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
    </resultMap>

    <sql id="Base_Columns">
        id, `name`,`value`
    </sql>

    <select id="getRoleByUserId" resultMap="roleMap">
        SELECT
        <include refid="Base_Columns"/>
        FROM auth_role
        WHERE user_id= #{userId}
    </select>

</mapper>